.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
}

.section {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}
.section__body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    padding: 10px;
    background: hsl(180, 100%, 25%);
    color: white;
    border: none;
}

.form__button:hover {
    background: hsl(180, 100%, 30%);
}

.form__button:active {
    background: hsl(180, 100%, 35%);
}

.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__button {
    border: none;
    background-color: hsl(120, 61%, 34%);
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
}

.tasks__content--done {
    text-decoration: line-through;
}
.delete__button {
    border: none;
    background-color: red;
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
    border-bottom: 1px solid #ddd;
}